<div class="row" style="margin:15px;">
    <div class="col-lg-4">
        <a href="#" ng-click="showAddBoard()" class="pull-right">
            <span class="glyphicon glyphicon-plus"></span>
        </a>
    </div>
    <div class="col-lg-4">
        <select style="margin-right:20px;"
                ng-options="board.Name for board in boards"
                ng-change="boardChanged(activeBoard.Id)"
                ng-model="activeBoard.Id"></select>
    </div>
</div>

<div id="AddNewBoard" ng-show="showPopup" class="modal in" style="display: block;" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add new board</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="exampleInputEmail1">Board name</label>
                    <input type="text" class="form-control" ng-model="newBoard.Name" placeholder="Example:My Todo list">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="addBoard(newBoard)">Add</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->