<ul class="list-group">  
    <li class="list-group-item">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <span ng-hide="inserting" ng-click="inserting=true">Enter task/memo/note...</span>
                <div ng-show="inserting">
                    <input class="form-control" style="height:inherit;" ng-enter="AddTask(task);inserting=false;" type="text" ng-model="task.Name" />
                </div>
            </div>            
        </div>
    </li>
    <li class="list-group-item" ng-repeat="task in tasks">
        <div class="row">
            <div class="col-md-1">{{$index+1}}</div>
            <div class="col-md-10">
                <span ng-hide="editing" ng-click="editing=true">{{task.Name}}</span>
                <div ng-show="editing">
                    <input class="form-control" style="height:inherit;" ng-enter="UpdateTask(task);editing=false;" ng-blur="UpdateTask(task);editing=false;" type="text" ng-model="task.Name" />
                </div>
                </div>
            <div class="col-md-1"><button ng-click="DeleteTask($index)"><span class="glyphicon glyphicon-trash"></span></button></div>
        </div>
    </li>
</ul>